<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서관 등록</title>
</head>
<body>
    <h1>도서관 등록</h1>
    <form name="addfrm" method="post"><br>
        도서관명<input type="text" name="lbname"><br>
        시도<input type="text" name="sido"><br>
        구군<input type="text" name="gugun"><br>
        도서관종류<input type="text" name="lbtype"><br>
        휴관일<input type="text" name="clsday"><br>
        주소<input type="text" name="addr"><br>
        전화번호<input type="text" name="phone"><br>
        홈페이지<input type="text" name="homepage"><br>
        위도<input type="text" name="lat"><br>
        경도<input type="text" name="lon"><br>
        <button type="submit">입완</button>>
    </form>
</body>
</html>