<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도서관 정보 조회</title>
</head>
<body>
  <h1>도서관 정보 조회</h1>
    <table style="width: 750px">
        <tr>
            <th style="border-right: 1px; color: black">도서관명</th>
            <th style="border-right: 1px; color: black">시도</th>
            <th style="border-right: 1px; color: black">구군</th>
            <th style="border-right: 1px; color: black">도서관유형</th>
            <th style="border-right: 1px; color: black">전화번호</th>
            <th style="border-right: 1px; color: black">휴관일</th>
        </tr>
        <tr th:each="lib : ${libs}">
            <td th:text="${lib.lbname}">도서관명</td>
            <td th:text="${lib.sido}">시도</td>
            <td th:text="${lib.gugun}">구군</td>
            <td th:text="${lib.lbtype}">도서관유형</td>
            <td th:text="${lib.phone}">전화번호</td>
            <td th:text="${lib.clsday}">휴관일</td>
        </tr>
    </table>
</body>
</html>